
Atlas/Atlas.bat
Atlas/Atlas.exe
Atlas/SCRIPT.BIN
Atlas/Atlas.pdf
Atlas/src/Atlas.sln
Atlas/src/Atlas.suo.old
Atlas/src/Atlas.vcproj.HIKARI.Steve.user
Atlas/src/Atlas.vcproj
Atlas/src/Atlas.suo
Atlas/src/Atlas.sln.old
Atlas/src/AtlasCore.cpp
*.cpp
*.h
Atlas/src/ReadMe.txt
Atlas/src/UpgradeLog2.XML
Atlas/src/UpgradeLog.XML
Atlas/SCRIPT.txt
Atlas/src/Atlas.vcproj.8.00.old
Atlas/SCRIPT.txt
bin/0B_8000_battledomaindata.bin
bin/0B_8400_battleformations.bin
bin/0B_8C00_mapencounterrates.bin
bin/0B_8C40_battlemessages.bin
bin/0B_9094_levelupdata.bin
FF1-MMC5-NewBattleScreen.zip
Mesen_P.exe - Shortcut.lnk
FinalFantasy.nes
*.lnk
NotepadSession
Old Versions/FF-MMC5 - 0.34.zip
Old Versions/FF1-MMC5-BattleItems.rar
Atlas/SCRIPT.txt
FinalFantasy.nes.deb
Old Versions/FF-MMC5 - 0.31.zip
Old Versions/FF-MMC5 - 0.31.zip
Old Versions/FF-MMC5 - 0.32.zip
Old Versions/FF-MMC5 - 0.33.zip
Old Versions/FF1-MMC5.zip
Old Versions/FF-MMC5 - 0.31.zip
Old Versions/FF-MMC5 - 0.32.zip
Old Versions/FF-MMC5 - 0.33.zip
Old Versions/FF1-MMC5.zip
Old Versions/FF-MMC5 - 0.31.zip
Enemy Steal List.txt
Atlas/SCRIPT.txt
Atlas/Working Copy of SCRIPT.txt
Atlas/SCRIPT.txt
Atlas/SCRIPT.txt
Atlas/SCRIPT.txt
Bank Map.txt
NotepadSession.txt
Atlas/SCRIPT.txt
Atlas/SCRIPT.txt
FinalFantasy.dbg
labels.txt
mapfile.txt
